.ag-root {
    font-family: "Roboto", sans-serif !important;
}

.ag-root ::placeholder {
    font-size: 10px !important;
}

.ag-root-wrapper {
    border-radius: 4px !important;
    border: 1px solid #d9d9d9 !important;
}

.ag-header-cell-text {
    font-size: 12px !important;
    color: var(--white);
}

.ag-header {
    background-color: var(--col1) !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.ag-cell {
    font-size: 10.5px !important;
}

.ag-icon {
    color: var(--white) !important;
}

.ag-row {
    border-bottom: none !important;
}

.ag-header-cell-resize::after {
    background-color: var(--white) !important;
}

/* .ag-theme-quartz,
.ag-theme-quartz-dark{
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.03) !important;
} */

.assign_btn {
    color: var(--grn);
    background-color: #eefdf3 !important;
    text-align: center !important;
    font-size: 10px !important;
    padding: 0px !important;
    height: auto !important;
    width: 75px;
    height: 20px !important;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px !important;
    margin-top: 2px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1p
}

.repair_btn {
    color: var(--red);
    background-color: #fdf2f2 !important;
    text-align: center !important;
    font-size: 10px !important;
    padding: 0px !important;
    height: auto !important;
    width: 75px;
    height: 20px !important;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px !important;
    margin-top: 2px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1p
}

.replace_btn {
    color: var(--yellow);
    background-color: #fef9ee !important;
    text-align: center !important;
    font-size: 10px !important;
    padding: 0px !important;
    height: auto !important;
    width: 75px;
    height: 20px !important;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px !important;
    margin-top: 2px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1p
}

.retird_btn {
    color: var(--col2);
    background-color: #d7eeff !important;
    text-align: center !important;
    font-size: 10px !important;
    padding: 0px !important;
    height: auto !important;
    width: 75px;
    height: 20px !important;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px !important;
    margin-top: 2px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1p
}

.ag-column-drop-vertical {
    display: none !important;
}

.ag-pivot-mode-panel {
    display: none !important;
}

.edit_icon {
    font-size: 14px !important;
}

.tb-autocomplete-opt {
    font-size: 12px !important;
}


.auto_field .MuiAutocomplete-clearIndicator {
    display: none !important;
}

.auto_field .MuiAutocomplete-root .MuiOutlinedInput-root {
    padding: 4px 6px !important;
}

.auto_field .MuiAutocomplete-root .MuiOutlinedInput-input {
    padding: 0px !important;
    font-size: 10px !important;
}

.auto_field .MuiSvgIcon-root {
    font-size: 20px !important;
    margin-top: 2px !important;
}

.tb_input .MuiInputBase-input.MuiOutlinedInput-input {
    padding: 4px 8px !important;
    font-size: 10px !important;
}

.act_btn {
    text-transform: none !important;
    font-size: 13px !important;
    color: var(--content) !important;
}

.act_btn_active {
    text-transform: none !important;
    font-size: 13px !important;
    color: var(--col1) !important;
}

.ag-theme-quartz {
    overflow: hidden !important;
}