html {
    height: 100%;
    box-sizing: border-box;
    line-height: 0;
    scroll-behavior: smooth !important;
  
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  a {
    text-decoration: none !important;
    color: inherit !important;
  }
  
  a:hover {
    color: inherit !important;
  }
  
  body {
    background-color: #f9fcff !important;
    position: relative;
    margin: 0;
    padding-bottom: 0%;
    min-height: 100%;
    font-family: "Roboto", sans-serif !important;
  }
  
  
  .al_center {
    text-align: center !important;
  }
  
  .al_left {
    text-align: left !important;
  }
  
  .al_right {
    text-align: right !important;
  }
  
  .al_jst {
    text-align: justify !important;
  }
  
  h1 {
    font-size: 35px !important;
    line-height: 48px !important;
  }
  
  h2 {
    font-size: 25px !important;
    line-height: 30px !important;
  }
  
  h3 {
    font-size: 20px !important;
    line-height: 30px !important;
  }
  
  h4 {
    font-size: 16px !important;
    line-height: 22px !important;
  }
  
  h5 {
    font-size: 14px !important;
    line-height: 24px !important;
  }
  
  h6 {
    font-size: 12px !important;
    line-height: 18px !important;
  }
  
  
  
  .ml0 {
    margin-left: 0px !important;
  }
  
  .mr0 {
    margin-right: 0px !important;
  }
  
  
  .content {
    color: var(--content) !important;
  }
  
  .blk {
    color: var(--black) !important;
  }
  
  .wh {
    color: var(--white) !important;
  }
  
  .rd {
    color: var(--red) !important;
  }
  
  .grn {
    color: var(--grn) !important;
  }
  
  .col1 {
    color: var(--col1) !important;
  }
  
  .col2 {
    color: var(--col2) !important;
  }
  
  .bg1 {
    background: var(--col1) !important;
  }
  
  .bg2 {
    background: var(--col2) !important;
  }
  
  .bg3 {
    background: #a6a6a6 !important;
  }
  
  .wbg {
    background-color: var(--white) !important;
  }
  
  .fw3 {
    font-weight: 300 !important;
  }
  
  .fw4 {
    font-weight: 400 !important;
  }
  
  .fw5 {
    font-weight: 500 !important;
  }
  
  .fw6 {
    font-weight: 600 !important;
  }
  
  /* btn */
  
  .bt {
    margin: 0px 4px !important;
  }
  
  .link {
    color: inherit !important;
  }
  
  a:hover {
    color: var(--col1) !important;
  }
  
  
  .fx_sb {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
  }
  
  .fx_c {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  
  .fx_fs {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
  }
  
  .fx_fe {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
  }
  
  
  .ptr {
    cursor: pointer !important;
  }
  
  .one {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .two {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 45px !important;
  }
  
  .three {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 68px !important;
  }
  
  
  .whitebx {
    background-color: var(--white);
    border-radius: 6px !important;
    padding: 12px !important;
  }
  
  .bxsh1 {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  }
  
  .bxsh2 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
  }
  
  .bxsh3 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
  
  .bx_brd {
    border: 2px solid #e2e2e2 !important;
  }
  
  .p0 {
    padding: 0 !important;
  }
  
  .MuiTooltip-tooltip {
    font-size: 9px !important;
    padding: 2px 8px !important;
    min-height: 20px !important;
    display: grid !important;
    place-content: center;
  }
  
  .fullpage {
    min-height: 100vh !important;
  }
  
  .grid_c {
    display: grid !important;
    place-items: center !important;
  }
  
  .w100 {
    width: 100% !important;
  }
  
  .main {
    min-height: 100vh !important;
    padding: 0px !important;
    /* padding-top: 60px !important; */
    padding-top: 0px !important;
    padding-bottom: 20px !important;
    width: 100% !important;
  }
  
  .main_btn {
    text-transform: none !important;
    font-size: 12px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
    font-weight: 500 !important;
    background: var(--white) !important;
    border: 2px solid #1930ab !important;
    padding: 2px 12px !important;
    color: var(--col1) !important;
    display: flex !important;
    width: auto !important;
    max-width: auto !important;
  }
  
  .main_btn:hover {
    background: var(--col1) !important;
    border: 2px solid #1930ab !important;
    color: var(--white) !important;
  }
  
  .sec_btn {
    text-transform: none !important;
    font-size: 12px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
    font-weight: 500 !important;
    padding: 3px 12px !important;
    display: flex !important;
    width: auto !important;
    max-width: auto !important;
  }
  
  .sec_btn:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
  }
  
  .tb_head {
    padding-bottom: 6px !important;
    border-bottom: 2px solid var(--gry) !important;
  }
  
  .MuiOutlinedInput-input {
    font-size: 12px !important;
  }
  
  /* .MuiInputLabel-root {
    transform: translate(14px, -5px) scale(0.75) !important;
  } */
  
  .ico_btn_bg {
    background-color: #f2f2f2 !important;
  }
  
  ::placeholder {
    font-size: 12px !important;
    text-transform: capitalize !important;
    color: var(--content) !important;
  }
  
  #emp-details .user-profile .MuiListItemButton-root {
    padding: 0px !important;
    /* padding-top: 0px !important; */
    background-color: transparent !important;
    margin: 0px !important;
    padding-top: 12px !important;
  }